/* Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem; 
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #8f9195;
    --border-image: fill;
    --second-color: #595f63;
    --light-yellow: rgb(255, 153, 0);
    --text-color: rgb(74, 72, 72);
    --gradient: linear-gradient(#3d8dfe, #7a38ff);
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem ;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
.logo img{
    width: 80px;
}
.navbar {
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after {
    width: 100%;
}
#menu-icon {
font-size: 24px;
cursor: pointer;
z-index: 1001;
display: none;
}
.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in {
    background: #1215cb;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
    background: var(--main-color);
}
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(image/Lanscape.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.text span {
    color: var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;
}
.app-store {
    display: flex;
}
.app-store img {
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}
.from-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    position: absolute;
    bottom: 2rem;
    left: 100px;
    background: white;
    padding: 15px;
    border-radius: 0.3rem;
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 500;
}
.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.from-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 40px;
    border: none;
    border-radius: 0.5rem;
    background: #1215cb;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.from-container form .btn:hover {
    background: var(--main-color);
}
.heading {
    text-align: center;
    padding: 2rem;
    font-size: 1.7rem;
    color: black;
}
.heading span {
    font-weight: 500;
    z-index: 0;
    position: relative;
    text-transform: uppercase;
}
.heading span::before {
    content: '';
    position: absolute;
    bottom: 0.5rem; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgb(38, 38, 215);
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}
.heading h1 {
    font-size: 2rem;
}
.Order-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.Order-container .box {
    text-align: center;
    padding: 20px;
}
.Order-container .box .bx {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 00.5rem;
    color: blue;
}
.Order-container .box h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.Order-container .box .bx:hover, 
.Order-container .box .bxs-calender {
    background: var(--gradient);
    color: #fff;
}
.Armada .Armada-slider {
    padding-bottom: 4rem;
}
.Armada .Armada-slider .box {
    text-align: center;
    width: 30rem;
}
.Armada .Armada-slider .box img {
    width: 100%;
    /* opacity: .5;
    transform: scale(.8); */
}
.Armada .Armada-slider .box .content {
    /* transfrom: scale(0); */
    padding-top: 1rem;
}
.Armada .Armada-slider .box .content h3 {
    font-size: 2.3rem;
    color: black;
}
.Armada .Armada-slider .box .content .harga {
    font-size: 1.5rem;
    color: rgb(47, 86, 241);
    padding:1rem 0;
    font-weight: bolder;
}
.Armada .Armada-slider .box .content .harga span {
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: normal;
}
.Armada .Armada-slider .box .content .p {
    padding:0 10px;
    border: 1px var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
    color: rgb(162, 1, 249);
}
.Armada .Armada-slider .box .content p span {
    color: rgb(0, 0, 0);
    font-size: .8rem;
    padding: 0 .5rem;
}
.Armada-slider{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.Armada-slider .wrapper .box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgb(6, 50, 229);
}
.Armada-slider .box .btn {
    display: flex;
    justify-content: center;
    background: #1215cb;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.Armada-slider .box .btn:hover {
    background: var(--main-color);
}
.about-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img {
    width: 100%;
}
.about-text span {
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}
.about-text p {
    margin: 0.5rem 0 1.4rem;
}
.about-text .btn {
    padding: 10px 20px;
    background: #3d8dfe;
    color: #fff;
    border-radius: 0.5rem;
}
.about-text .btn:hover {
    background: var(--main-color);
}
.suratkabar {
    background: linear-gradient(to top right, #0532b9, #277ff9);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suratkabar h2 {
    color: #fff;
    font-size: 1.8rem;
}
.suratkabar .box {
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.suratkabar .box input {
    border: none;
    outline: none;
}
.suratkabar .box .btn {
    background: #1215cb;
    color: white;
    padding: 8px 20px;
    border-radius: 0.5rem;
}
.coppyright {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    color: #444;
    padding: 10px;
    font-size: 21px;
}
/* Making Responsive */
@media (max-width: 991px) {
    header {
        padding: 18px 40px;
    }
    section {
        padding: 50px 40px;
    }
}
@media (max-width: 881px) {
    .home {
        background-position: left;
    }
    .from-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}
@media (max-width: 768px) {
    header {
        padding: 11px 40px;
    }
    #menu-icon {
        display: initial;
    }
    .sign-in {
        display: none;
    }
    .text h21 {
        font-size: 2.5rem;
    }
    .home {
        grid-template-columns: 1fr;
    }
    .from-container form {
        position: unset;
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px black;
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
        border: none;
    }
    .navbar a::after {
        display: none;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1 {
        font-size: 1.3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        padding: 1rem;
        order: 2;
    }
}
@media (max-width: 568px) {
    .coppyright {
        flex-direction: column;
    }
    .suratkabar .box {
        width: 283px;
    }
    .from-container {
        padding-top: 2rem;
    }
}
@media (max-width: 350px) {
    header {
        padding: 6px 14px;
    }
    .logo img {
        width: 30px;
    }
    section {
        padding: 50px 14px;
    }
    .header-btn .sign-in {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1 {
        font-size: 2rem;
    }
    .Armada-slider {
        grid-template-columns: repeat(auto-fit.minmax(254, auto));
    }
}